{% schema %}
  {
	"name": "Secondary Carousel",
    "tag": "section",
    "class": "tn-secondary-carousel",
	"settings": [
      {
        "type": "header",
        "content": "Secondary Carousel"
      }
  	],
    "blocks": [
	{
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "top_heading",
          "label": "Top Heading"
        },
		{
          "type": "textarea",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "bg_image",
          "label": "Background Image"
        },
		    {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
		{
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Discover More"
        }
	  ]
	}
	],
	"presets": [
      {
        "name": "03. Secondary Carousel",
        "category": "I. Collections"
      }
    ]
  }
{% endschema %}

<div class="tn-carousel secondary">
{% for block in section.blocks %}
  {% case block.type %}
    {% when 'slide' %}
      <div class="tn-carousel-cell item" {{ block.shopify_attributes }} style="background-image: url({{ block.settings.bg_image | img_url: '2048x' }});">
        
        <div class="container">
          <div class="img">
            {{ block.settings.image | img_url: '2048x' | img_tag }}
          </div>
          
          <div class="text">
            <h4>{{ block.settings.top_heading | newline_to_br }}</h4>
            <h3>{{ block.settings.heading | newline_to_br }}</h3>
            <p>{{ block.settings.content | newline_to_br }}</p>
            <div>
            {% if block.settings.button_text != "" %}
              {{ block.settings.button_text | link_to: block.settings.button_link, class: "btn" }}
            {% endif %}
            </div>
          </div>
        </div>

      </div>
  {% endcase %}
{% endfor %}
</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
